@import url(homeStyle.css);
@import url(addServicePost.css);
@import url(indexManagement.css);

html, body {
    height: 100%;
    margin: 0;
}

/* Background */
body {
    background-image: url('/img/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 12.8px;
}

/* Header */

.vmapp-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1050;
}

.vmapp-header {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0 30px; 
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

#header-image {
    height: 45px; 
    width: auto; 
    object-fit: contain;
}

/* Footer */

.vmapp-footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    z-index: 1050;
    font-size: 16px;
}

/* Content */

.vmapp-content {
    padding-top: 110px; 
    padding-bottom: 80px; 
    min-height: calc(100vh - 150px); 
}
