/*Header style*/
.vmapp-header {
    background-color: white;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
}

.buttons-color-header{
    color: blue !important;
}

#header-image {
    height: 40px;
    vertical-align: middle;
    overflow: clip;
    overflow-clip-margin: content-box;
}

/*Body style*/
body {
    background-image: url('/img/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Footer style*/
.footer {
    background-color: none;

}

.vmapp-footer-line {
    border-top: 0.1px solid black;
}


.footer-text-color{
    color: blue;
}