<div class="form-wrapper">
    <div class="form-box">
        <h2 class="text-center mb-4">Submit Request</h2>

        <form asp-action="AddService" method="post">

            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Submit
            </button>

        </form>
    </div>
</div>

