@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to VMAPP</h1>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Learn more About Us</a>
</li>
</div>
