@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="card">
    <div class="card-header table-dark text-dark fw-semibold">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>
