@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="card">
    <div class="card-header table-dark text-dark fw-semibold">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <p>Please check your email to reset your password.</p>
    </div>
</div>
