@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="card">
    <div class="card-header table-dark text-dark fw-semibold text-danger">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</div>
