@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="card">
    <div class="card-header table-dark text-dark fw-semibold">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <p>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
    </div>
</div>
