@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="card">
    <div class="card-header table-dark text-dark fw-semibold">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <p>Your personal data will be downloaded as a JSON file.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
