<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VMAPP.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/VMAPP.Web.styles.css" asp-append-version="true" />
    <link href="~/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
@using Microsoft.AspNetCore.Identity
@using VMAPP.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<body>
@{
    bool showMenu = false;
    if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        if (currentUser != null)
        {
            showMenu = !currentUser.RequireAuthenticatorSetup;
        }
    }
}

    <header class="vmapp-header-fixed">
        <nav class="navbar navbar-expand-sm vmapp-header border-bottom">
            <div class="container-fluid">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="header-image"
                         src="~/img/VMAPP_header_photo.png"
                         alt="VMAPP Logo" />
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link buttons-color-header"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link buttons-color-header"
                               asp-area=""
                               asp-controller="Home"
                               asp-action="Privacy">Privacy</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && showMenu)
                        {
                            @if (User.IsInRole("ProgramAdministrator") || User.IsInRole("VehicleService"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link buttons-color-header"
                                       asp-area=""
                                       asp-controller="VehicleServices"
                                       asp-action="Index">Vehicle Services</a>
                                </li>
                            }
                            @if (User.IsInRole("ProgramAdministrator") || User.IsInRole("InsuranceCompany"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link buttons-color-header"
                                       asp-area=""
                                       asp-controller="Insurance"
                                       asp-action="Index">Insurance</a>
                                </li>
                            }
                            @if (User.IsInRole("ProgramAdministrator") || User.IsInRole("AnnualReviewCompany"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link buttons-color-header"
                                       asp-area=""
                                       asp-controller="AnnualReview"
                                       asp-action="Index">Annual Review</a>
                                </li>
                            }
                            @if (User.IsInRole("ProgramAdministrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link buttons-color-header"
                                       asp-area=""
                                       asp-controller="Vehicle"
                                       asp-action="Index">Vehicle</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle buttons-color-header"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        Administration
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item"
                                               asp-area="Administration"
                                               asp-controller="Users"
                                               asp-action="Index">Users</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <main class="vmapp-content container">
        @RenderBody()
    </main>

    <footer class="vmapp-footer-fixed text-center text-muted">
        <div class="container footer-text-color">
            &copy; 2026 - VMAPP -
            <a class="footer-text-color"
               asp-area=""
               asp-controller="Home"
               asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/datatables/js/jquery.dataTables.js"></script>
    <script src="~/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
